
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
ul,
ol {
  list-style: none;
}

.car-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.point-row-div-1 {
  position: relative;
}
.info-box {
  display: flex;
  justify-content: space-around;
  font-family: robor
  font-size: 30px;
}

.point-row-1,
.point-row-2,
.point-row-3 {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 100px; 
}

.point-row-1 {
  margin-top: 200px; 
}

.point-row-2 {
  margin-top: 50px; 
}

.point-row-3 {
  margin-top: 100px; 
}

.point-row-1 .point,
.point-row-2 .point,
.point-row-3 .point {
  margin-right: 120px; 
}

.point-row-1 .point:last-child,
.point-row-2 .point:last-child,
.point-row-3 .point:last-child {
  margin-right: 0;
}

.point-row-2 .point:first-child {
  margin-right: 50px; 
}


.circle {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.circle.selected {
  background-color: orange; 
  border-color: orange; 
  color: white; 
}



